.profile__name{
  font-family: 'Inter', 'Sans-serif', 'Arial';
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 114%;
  color: #FFFFFF;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 330px;
}

@media screen and (min-width: 320px) and (max-width: 750px){
  .profile__name{  
    font-size: 27px;
    line-height: 33px;
    text-align: center;
    width: 250px;
  }
}