.popup__container{
  width: 430px;
  background-color: #FFFFFF;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

@media screen and (min-width: 320px) and (max-width: 750px){
  .popup__container{  
    width: 282px;
    height: 322px;
  }
}