@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);
@import url(./blocks/page/page.css);
@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/content/content.css);
@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__content/profile__content.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__avatar-pencil/profile__avatar-pencil.css);
@import url(./blocks/profile/__avatar-image/profile__avatar-image.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__name-edit/profile__name-edit.css);
@import url(./blocks/profile/__name/profile__name.css);
@import url(./blocks/profile/__edit-button/profile__edit-button.css);
@import url(./blocks/profile/__job/profile__job.css);
@import url(./blocks/profile/__add-button/profile__add-button.css);
@import url(./blocks/element/element.css);
@import url(./blocks/card/card.css);
@import url(./blocks/card/__image/card__image.css);
@import url(./blocks/card/__description/card__description.css);
@import url(./blocks/card/__title/card__title.css);
@import url(./blocks/card/__title/card__title.css);
@import url(./blocks/card/__likeBox/card__likeBox.css);
@import url(./blocks/card/__like-button/card__like-button.css);
@import url(./blocks/card/__like-button/_active/card__like-button_active.css);
@import url(./blocks/card/__numberLikes/card__numberLikes.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/form/form.css);
@import url(./blocks/form/__set/form__set.css);
@import url(./blocks/form/__field/form__field.css);
@import url(./blocks/form/__input/form__input.css);
@import url(./blocks/form/__submit-button/form__submit-button.css);
@import url(./blocks/form/__submit-button/_inactive/form__submit-button_inactive.css);
@import url(./blocks/form/__input-error/form__input-error.css);
@import url(./blocks/form/__input-error/_active/form__input-error_active.css);
@import url(./blocks/form/__input/_type_error/form__input_type_error.css);
@import url(./blocks/form-profile/__input/form-profile__input.css);
@import url(./blocks/form-profile/form-profile.css);
@import url(./blocks/form-card/form-card.css);
@import url(./blocks/form-card/form-card.css);
@import url(./blocks/form-card/__input/form-card__input.css);
@import url(./blocks/card/__delete/card__delete.css);
@import url(./blocks/card/__delete/_disable/card__delete_disable.css);
@import url(./blocks/popup/__container-image/popup__container-image.css);
@import url(./blocks/popup/__element-image/popup__element-image.css);
@import url(./blocks/popup/__title-image/popup__title-image.css);
@import url(./blocks/popup/__close-icon/popup__close-icon.css);
@import url(./blocks/popup/popup-image.css);
@import url(./blocks/signInPage/signInPage.css);
@import url(./blocks/signInPage/_opened/signInPage_opened.css);
@import url(./blocks/signInPage/__container/signIn__container.css);
@import url(./blocks/signInPage/__title/signIn___title.css);
@import url(./blocks/form/__submit-button/form__submit-button-log-reg.css);
@import url(./blocks/form/__input/form__input-log-reg.css);
@import url(./blocks/form/form-link.css);
@import url(./blocks/popup/__container/popup__container-status.css);
@import url(./blocks/popup/__title/popup__title-status.css);
@import url(./blocks/popup/__status-image/popup__status-image.css);
@import url(./blocks/header/__title/header__title.css);
@import url(./blocks/header/__container/header__container.css);
@import url(./blocks/header/__title-box/header__title-box.css);